<% include header %>
<% include slider %>

    <div id="tooplate_main_bottom"></div>
    
    <div id="tooplate_bottom">
     	


    	<center>
    		<h1>Welcome to PostKrde.com</h1>
    		<h2>About page</h2>
    		
    		<h2>Users cookie records</h2>
    		<p>cunm : <%= cunm %></p>
    		<p>cpass : <%= cpass %></p>
    	</center>


		             
    	<div class="cleaner"></div>
    </div>   


<% include footer %>

    

