<% include userheader %>

    <div id="tooplate_main_bottom"></div>
    
    <div id="tooplate_bottom">
     	


    	<center>
    		<h1>Transaction failed</h1>
    		<a href="/home">Try again.....</a>
    		
    	</center>


		             
    	<div class="cleaner"></div>
    </div>   


<% include footer %>

    

