<% include header %>
<% include slider %>

    <div id="tooplate_main_bottom"></div>
    
    <div id="tooplate_bottom">
     	


    <center>
<h1>Login here!!!!</h1>
<span style="font-size:20px;color:orange;"><%= output %></span>
<form method="post" action="/login">
<table border="2" cellspacing="10" cellpadding="10">
	<tr>
		<td>EmailId (Username)</td>
		<td><input type="email" name="email" value="<%= cunm %>"/></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="password" name="password"   value="<%= cpass %>"/></td>
	</tr>
	<tr>
		<td colspan="2"><input type="checkbox" name="chk" value="remember"/> Remember me?</td>
	</tr>
	<tr>
		<td colspan="3">
		<center>
		<input type="submit" name="s" value="Login"/>
		</center>
		</td>
	</tr>
</table>
</form>
</center>


		             
    	<div class="cleaner"></div>
    </div>   


<% include footer %>

    

