<% include header %>
<% include slider %>

    <div id="tooplate_main_bottom"></div>
    
    <div id="tooplate_bottom">
     	


    	<center>
    		<h1>Welcome to PostKrde.com</h1>
    		<h2>Service page</h2>
    	</center>


		             
    	<div class="cleaner"></div>
    </div>   


<% include footer %>

    

