<% include userheader %>

    <div id="tooplate_main_bottom"></div>
    
    <div id="tooplate_bottom">
     	


    	<center>
    		<h1>Transaction done successfully</h1>
    		<a href="/home">Proceed to buy another product.....</a>
    		
    	</center>


		             
    	<div class="cleaner"></div>
    </div>   


<% include footer %>

    

