<% include header %>
<% include slider %>

    <div id="tooplate_main_bottom"></div>
    
    <div id="tooplate_bottom">
     	


    	<center>
    		<h1>Welcome to PostKrde.com</h1>
    		<h2>Account verified</h2>
    		<a href="/login">Click to login</a>
    	</center>


		             
    	<div class="cleaner"></div>
    </div>   


<% include footer %>

    

